.post{
  display: flex;
  max-width: 900px;
  margin: auto;
  background-color: #FFFAF0;
  flex-direction: column;
  flex-wrap: wrap;
}
#header{
  height: 80px;
  background-color:red;
  color: ivory;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.comment-section{
  background-color:#e6e6ff;
  border-radius: 5px;
  padding: 10px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.post-container{
  background-color:#f2f2f2;
  margin: 10px;
  padding: 10px;
}
li{
  list-style: none;
}

button{
  background-color: darkseagreen;
  color: honeydew;
}
.mail{
  color: blueviolet;
}
.name{
  color: #228B22;
}

.comment{
  color:#008080 ;
}
.post-title{
  color: #FF6347;
}